/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #f0f2f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    background: #4a90e2;
    color: white;
    padding: 1rem;
    text-align: center;
}

.app {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* centered vertically */
    padding: 2rem;
}

/* Card container */
.card {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    animation: fadeIn 0.3s ease-in-out;
}

.citationContainer {
    padding: 1rem;
    border-radius: 12px;
}

.countdown {
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Inputs */
input {
    width: calc(100%);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Buttons */
button {
    background: #4a90e2;
    color: white;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: background 0.3s;
}

button:hover {
    background: #357ab8;
}


.leftButton {
    background: #e74c3c;
}

.leftButton:hover {
    background: #c0392b;
}

.rightButton {
    background: #000000;
}

.rightButton:hover {
    background: #383838;
}

.correct {
    color: white;
    background-color: #27ae60;
}

.incorrect {
    color: white;
    background-color: #e74c3c;
}

.hidden {
    display: none;
}

/* Game UI */
.citationText {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.buttons button {
    flex: 1;
    min-width: 120px;
}

/* Players list */
ul {
    list-style: none;
    margin-top: 1rem;
    padding: 0;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9fafc;
    border: 1px solid #ddd;
    padding: 0.6rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}
